body {
    margin: 15px;
    padding: 10px;
    background-color: #25272A;
    color: #E3E7E9;
}
.home {
    width: 30%;
}

.navegacao {
    margin: 5px;
    padding: 10px;
}

.navegacao a {
    display: block;
    height: 40px;
    text-decoration: none;
    color: #E3E7E9;
}

p img {
    margin: 20px;
}

p {
    margin: 20px;
    padding: 10px;
    border: solid 10px green;
    background-color: aqua;
    color: black;
}