body {
    margin: 15px;
    padding: 10px;
    background-color: #25272A;
    color: #E3E7E9;
}

html {
    font-size: 18px;
}

.navegacao a {
    text-decoration: none;
}

.navegacao {
    margin: 5px;
    padding: 10px;
}

.navegacao a {
    display: block;
    height: 40px;
    text-decoration: none;
    color: #E3E7E9;
}

ul {
    margin-bottom: 50px;
}



img {
    width: 200px;
}


/* Estilo com scale 1*/
img.scale {
    transform: scale(2, 3);
}

/* Estilo com scale 2*/
/* img.scale {
    transform: scaleY(2);
} */



/* Estilo com rotate.*/
img.rotate {
    transform: rotate(45deg);
}


/* Estilo translate.*/
img.translate {
    transform: translate(50px, 20px);
}