body {
    padding-inline: 15px;
    margin: 10px;
}

.navegacao ul li {
    height: 25px;
    list-style: none;
}

.navegacao a {
    text-decoration: none;
}



.estilizando a {
    cursor: progress;
    margin: 20px;
    padding: 10px;
}

.estilizando a:visited {
    color: orange;
}

.estilizando a:active{
    color: red;
}

.estilizando a:hover  {
    background-color: red;
    color: white;
}