body {
    margin: 15px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
}

.home {
    width: 30%;
}

.navegacao {
    margin: 5px;
    padding: 10px;
}

.navegacao a {
    display: block;
    height: 40px;
    text-decoration: none;
}

.exemplo .solid {
    border: solid 10px;
}

.exemplo p {
    margin: 15px;
}