body {
    padding-inline: 15px;
    margin: 10px;
    background-color: #25272A;
    color: #E3E7E9;
}

html {
    font-size: 24px;
}

.menu ul li {
    height: 25px;
    list-style: none;
}

.menu ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: #E3E7E9;
}

ul {
    margin-bottom: 50px;
}



.container-exemplo > div {
    border: 1px solid black;
    background-color: #8a2be2;
    color: white;
    font-size: 20px;
}

.container-exemplo {
    display: grid;

    grid-template: repeat(3, 150px) / repeat(2, auto);
    grid-gap: 10px 20px;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
}