body {
    margin: 15px;
    padding: 10px;
    background-color: #25272A;
    color: #E3E7E9;
}
.home {
    width: 30%;
}

.navegacao {
    margin: 5px;
    padding: 10px;
}

.navegacao a {
    display: block;
    height: 40px;
    text-decoration: none;
    color: #E3E7E9;
}

html {
    font-size: 24px;
}

ul {
    margin-bottom: 50px;
}

.elemento {
    color: #fff;
    font-size: 32px;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.elemento-estatico {
    position: static;
    background-color: crimson;
}

.elemento-relativo {
    position: relative;
    left: 100px;
    background-color: coral;
}

.elemento-absoluto {
    position: absolute;
    left: 200px;
    background-color: darkcyan;
}

.elemento-relativo-com-filho {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(214, 212, 212);
}

.elemento-absoluto-com-pai {
    position: absolute;

    width: 150px;
    height: 150px;
    background-color: darkcyan;
}