body {
    padding-inline: 15px;
    margin: 10px;
}

html {
    font-size: 24px;
}

.navegacao ul li {
    height: 25px;
    list-style: none;
}

.navegacao a {
    text-decoration: none;
}

ul {
    margin-bottom: 50px;
}