body {
    margin: 15px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
}

.home {
    width: 30%;
}

.navegacao {
    margin: 5px;
    padding: 10px;
}

.navegacao a {
    display: block;
    height: 40px;
    text-decoration: none;
}

.explicacao-exemplos-div h1 {
    margin: 15px;
    padding: 10px;
    font-size: 32px;
}

.explicacao-exemplos-div p {
    margin: 10px;
}

.produto {
    background-color: aqua;
}

.explicacao-exemplos-span span {
    font-size: 24px;
    color: orange;
}