body {
    padding-inline: 15px;
    margin: 10px;
}

.navegacao ul li {
    height: 25px;
    list-style: none;
}

.navegacao a {
    text-decoration: none;
}



@font-face {
    font-family: 'Milky';
    src: url('../fontes/MilkyNice.otf'),
    url('../fontes/MilkyNice.ttf');
}

h1 {
    font-family: 'Milky', Helvetica, Sans-serif;
    font-weight: 100;
}