body {
    margin: 15px;
    padding: 10px;
    background-color: #25272A;
    color: #E3E7E9;
}
.home {
    width: 30%;
}

.navegacao {
    margin: 5px;
    padding: 10px;
}

.navegacao a {
    display: block;
    height: 40px;
    text-decoration: none;
    color: #E3E7E9;
}



.lista-desordenada ul {
    list-style-image: url('../img/checkbox-24.png');
    background-color: orange;
    list-style: square inside url('../img/checkbox-24.png');
}

.lista-desordenada ul li {
    border: 1px solid black;
    padding: 20px;
}

.lista-ordenada ol {
    list-style-image: url('../img/checkbox-24.png');
    background-color: paleturquoise;
    list-style: square inside url('../img/checkbox-24.png');
}

.lista-ordenada ol li {
    border: 1px solid black;
    padding: 20px;
}