body {
    margin: 15px;
    padding: 10px;
    background-color: #25272A;
    color: #E3E7E9;
}
.home {
    width: 30%;
}

.navegacao {
    margin: 5px;
    padding: 10px;
}

.navegacao a {
    display: block;
    height: 40px;
    text-decoration: none;
    color: #E3E7E9;
}

p {
    color: black;
}



/* ------- Efeito cascata --------*/
.container-cascata {
    background-color: aqua;
}

.container-cascata {
    background-color: orange;
}

.paragrafo-cascata p {
    background-color: aliceblue;
}



/* -------- Especificidade -------- */
.container-especificidade p {
    background-color: chartreuse;
}

p {
    background-color: lightskyblue;
}

/* #meu-paragrafo {
    background-color: violet;
} */